apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ project_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    metadata:
      labels:
        app: {{ project_name }}
    spec:
      containers:
        - name: {{ project_name }}
          image: {{ project_name }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"