apiVersion: v1
kind: Service
metadata:
  name: {{ project_name.replace('_','-') }}
spec:
  selector:
    app: {{ project_name.replace('_','-') }}
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP