apiVersion: v1
kind: Service
metadata:
  name: {{ (project_dash or project_name) | lower | replace('_', '-') }}
  namespace: {{ (project_dash or project_name) | lower | replace('_', '-') }}
  labels:
    app: {{ (project_dash or project_name) | lower | replace('_', '-') }}
spec:
  selector:
    app: {{ (project_dash or project_name) | lower | replace('_', '-') }}
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
  type: ClusterIP
